/*
Following SKA brand guidelines colors are defined as

SKA Sky Blue:    rgb(0, 174, 239)
SKA Ocean Blue:  rgb(0, 84, 164)
SKA Teal Blue:   rgb(0, 104, 138)
SKA Burnt Sun:   rgb(236, 134, 35)
SKA Earth Green: rgb(166, 206, 57)
*/

.wy-nav-side{
        background-color: rgb(0, 84, 164);
        color: white;
}

.wy-side-nav-search{
        padding-top: 0px;
        /*background-color: rgb(0, 174, 239);*/
        background-color: rgb(0, 84, 164);
        text-align: center;
}

.wy-menu-vertical p.caption{
        color: rgb(236, 134, 35);
}

.wy-menu {
        color: white;
}

.wy-menu-vertical a{
  color: white;
}

.local-toc ul li a:hover {
        background-color: rgb(0, 174, 239);
}

.wy-side-nav-search a{
    padding-top: 0px;
}

.wy-side-nav-search a img.logo{
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
      padding-top: 40px;
}

.wy-table-responsive table td {
white-space: normal;
}
.ska-logo, ska-logo:hover{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: url("https://www.skatelescope.org/wp-content/themes/skatelescope.org-theme/img/img-logo3.png");
	background-origin: padding-box;
	background-position: 22px 35px;
	background-position-x: 22px;
	background-position-y: 35px;
	background-repeat: no-repeat;
	background-size: 153px 98px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	/*color: rgb(0, 86, 120);
	float: left;
	font-family: "Eurostile LT W01 Demi", sans-serif;
	font-size: 44.8px;
	font-weight: 400;
	line-height: 60px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;*/
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	width: 186px;
	height: 135px;
}

.section .container {
    margin-block-end: 1em;
}

.toggle .header:after {
    content: '+';
    padding-right: 5px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    float: right;
    display: inline-block;
}

.toggle .header.open:after {
    content: "-";
    padding-right: 5px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    height: 1em;
    float: right;
    display: inline-block;
}

.toggle .header {
    display: block;
    clear: both;
    color: white;
    /* padding: 0 5px; */
    overflow: hidden;
    background-color: #6ab0de;
}

.toggle .header p {
    margin-block-end: 0em;
}
#local-table-of-contents {
	padding-bottom: 20px;
}

#local-table-of-contents #local-table-of-contents-title {
	margin-bottom: 10px;
}

#local-table-of-contents a[href="#"] {
	display: none;
}

#local-table-of-contents > ul > li {
	list-style: none;
	margin-top: 0;
}

#local-table-of-contents li {
	list-style: square;
	margin-bottom: 5px;
	margin-top: 5px;
}

#local-table-of-contents ul ul {
	padding-left: 0;
	margin-left: 20px;
	padding-right: 0;
}

@media screen and (min-width: 1280px) {
	#local-table-of-contents {
		display: block;
		position: fixed;
		margin-left: 0;
		overflow-y: auto;
		height: 95%;
		top: 45px;
		left: 1100px;
		width: 325px;
	}

	#local-table-of-contents #local-table-of-contents-title {
		display: block;
		font-size: 16px;
		width: 100%;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 5px;
		margin-bottom: -5px;
		border-left: 7px solid #EFEFEF;
	}

	#local-table-of-contents ul {
		list-style: none;
	}

	#local-table-of-contents > ul {
		border-left: 7px solid #EFEFEF;
		padding-bottom: 10px;
	}

	#local-table-of-contents ul:first-of-type {
		padding-left: 0;
		margin-left: 0;
	}

	#local-table-of-contents li {
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 20px;
	}

	#local-table-of-contents > ul > li {
		margin-left: 10px;
	}

	#local-table-of-contents ul ul {
		padding-left: 0;
		margin-left: 10px;
		padding-right: 0;
		margin-right: 10px;
	}
}


