
html[data-theme="light"] {
  /* --pst-color-primary: #c1c6ca; */
  --pst-color-primary: #070068;
  /* --pst-color-secondary: #070068; */
  --pst-color-secondary: #c1c6ca;
}
html[data-theme="dark"] {
  /* --pst-color-primary: #212121; */
  /* --pst-color-secondary: #f7be00; */
  --pst-color-primary: #f7be00;
  --pst-color-secondary: #212121;
}
