[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = ">=0.14"
imagesize = ">=0.7.1"
sphinx-autobuild = ">=0.7.1"
sphinxcontrib-websupport = ">=1.0.1"
"Jinja2" = ">=2.9.6"
MarkupSafe = ">=1.0"
Pygments = ">=2.2.0"
Sphinx = ">=1.6.3"
sphinx_rtd_theme = ">=0.2.4"
doc8 = "*"

[dev-packages]

[requires]
python_version = "3"
