docutils>=0.14
imagesize>=0.7.1
Jinja2>=2.9.6
MarkupSafe>=1.0
Pygments>=2.2.0
Sphinx>=1.6.3
sphinx-autobuild>=0.7.1
sphinx-rtd-theme>=0.2.4
sphinxcontrib-websupport>=1.0.1
sphinx-copybutton>=0.3.0
sphinx-gitstamp>=0.3.1
sphinx-notfound-page>=0.5