docutils>=0.18.1
imagesize>=1.4.1
Jinja2>=3.1.2
MarkupSafe>=2.1.2
Pygments>=2.15.1
Sphinx>=6.2.1
sphinx-autobuild>=2021.3.14
sphinx-copybutton>=0.5.2
sphinx-gitstamp>=0.3.3
sphinx-notfound-page>=0.8.3
sphinx-rtd-theme>=1.2.0
sphinxcontrib-websupport==1.2.4
