<form
  id="feedback-form"
  class="pre-footer"
  onsubmit="event.preventDefault(); return fillFeedback();"
  action=""
  method="POST"
>
  <hr />
  <h2>Feedback</h2>
  <p>Was this page helpful?</p>

  <button
    class="btn btn-neutral btn-feedback feedback-yes"
    type="button"
    onclick="show('feedback-yes'); disableButtons();"
  >
    Yes
  </button>
  <button
    class="btn btn-neutral btn-feedback feedback-no"
    type="button"
    onclick="show('feedback-no'); disableButtons();"
  >
    No
  </button>

  <p class="feedback-response" id="feedback-no" style="width: 480px">
    <label for="feedback-comment">
      <span>Let us know what we can do better:</span>
      <span style="float: right; color: gray; font: lighter">Optional</span>
    </label>
    <textarea
      name="feedback-comment"
      id="feedback-comment"
      name="description"
      rows="3"
    ></textarea>
    <button
      class="btn btn-primary"
      type="submit"
      style="float: right; margin-top: 0.2em"
    >
      Send
    </button>
  </p>

  <p class="feedback-response" id="feedback-yes" style="width: 480px">
    <span>We are glad you liked it!</span>
    <label for="feedback-comment">
      <span
        >If there is anything we can improve, please let us know below:</span
      >
      <span style="float: right; color: gray; font: lighter">Optional</span>
    </label>
    <textarea
      name="feedback-comment"
      id="feedback-comment"
      name="description"
      rows="3"
    ></textarea>
    <button
      class="btn btn-primary"
      type="submit"
      style="float: right; margin-top: 0.2em"
    >
      Send
    </button>
  </p>
  <hr />
</form>

{% extends "!footer.html" %} {% block extrafooter %}

<br />
{%- if gitstamp %} This page was last updated on {{ gitstamp }}. {%- endif %}
<br />
<br />
<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
  SKA developer documentation
</span>
by
<a
  xmlns:cc="http://creativecommons.org/ns#"
  href="developer.skatelscope.org"
  property="cc:attributionName"
  rel="cc:attributionURL"
>
  SKA organisation
</a>
is licensed under a
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
  Creative Commons Attribution 4.0 International License
  <img
    alt="Creative Commons Licence"
    style="border-width: 0"
    src="https://i.creativecommons.org/l/by/4.0/88x31.png"
  />
</a>
<br /><br />
This work is inspired by the
<a href="https://developer.lsst.io/"> LSST developer guide </a> © Copyright
2016-2018 Association of Universities for Research in Astronomy, licensed under
a
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
  >Creative Commons Attribution 4.0 International License</a
>.

<br /><br />
This work is inspired by the
<a href="https://www.apache.org/dev/"> Apache developer information </a>
Copyright © 2018 The Apache Software Foundation, Licensed under the
<a rel="license" href="http://www.apache.org/licenses/LICENSE-2.0"
  >Apache License, Version 2.0</a
>. {% endblock %}
