<script
  type="text/javascript"
  src="https://jira.skatelescope.org/s/d41d8cd98f00b204e9800998ecf8427e-CDN/de7s1x/805009/71de2239b08cff861f2e81d4008a4644/2.2.4.7/_/download/batch/com.atlassian.plugins.jquery:jquery/com.atlassian.plugins.jquery:jquery.js?collectorId=c5f67d71"
></script>
<script
  type="text/javascript"
  src="https://jira.skatelescope.org/s/f521b91e2fdb75d86f39420ffb6d7738-T/de7s1x/805009/71de2239b08cff861f2e81d4008a4644/4.0.0/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=c5f67d71"
></script>

<script type="text/javascript">
  window.ATL_JQ_PAGE_PROPS = $.extend(window.ATL_JQ_PAGE_PROPS, {
	// ==== default field values ====
	fieldValues : function() {

    // Current page of the feedback
    var currPage = window.location.href;

		var values = {};

		var error_message = $('.error_message');
		if ( error_message.length !== 0 ) {
			// record error message from the page context rather than asking the user to enter it
			values[ 'summary' ] = error_message.children('.summary').text();
			values[ 'description' ] = error_message.children('.description').text();
		}

		return values;

	}
});
</script>

{% extends "!footer.html" %} {% block extrafooter %}

<br />
{%- if gitstamp %} This page was last updated on {{ gitstamp }}. {%- endif %}
<br />
<br />
<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
  SKA developer documentation
</span>
by
<a
  xmlns:cc="http://creativecommons.org/ns#"
  href="developer.skao.int"
  property="cc:attributionName"
  rel="cc:attributionURL"
>
  SKA Observatory
</a>
is licensed under a
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
  Creative Commons Attribution 4.0 International License
  <img
    alt="Creative Commons Licence"
    style="border-width: 0"
    src="https://i.creativecommons.org/l/by/4.0/88x31.png"
  />
</a>
<br /><br />
This work is inspired by the
<a href="https://developer.lsst.io/"> LSST developer guide </a> © Copyright
2016-2018 Association of Universities for Research in Astronomy, licensed under
a
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
  >Creative Commons Attribution 4.0 International License</a
>.

<br /><br />
This work is inspired by the
<a href="https://www.apache.org/dev/"> Apache developer information </a>
Copyright © 2018 The Apache Software Foundation, Licensed under the
<a rel="license" href="http://www.apache.org/licenses/LICENSE-2.0"
  >Apache License, Version 2.0</a
>. {% endblock %}
